---
import { getCollection, getEntry } from "astro:content";
import { render } from "astro:content";

import BaseLayout from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import PostList from "../../components/PostList.astro";

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    const topics = new Set<string>();

    for (const post of posts) {
        for (const topic of post.data.topics ?? []) {
            topics.add(topic.id);
        }
    }

    return await Promise.all(
        Array.from(topics).map(async (topic) => ({
            params: {
                topic,
            },
            props: {
                topic: await getEntry("topics", topic),
                posts: posts.filter((post) => {
                    if (!post.data.topics) {
                        return false;
                    }

                    return post.data.topics.map((topic) => topic.id).includes(topic);
                }),
            },
        })),
    );
}

const { posts, topic } = Astro.props;

if (!topic) {
    return Astro.redirect("/404");
}

const { Content } = await render(topic);

const { label, color: accentColor } = topic.data;
const title = label;
---

<BaseLayout {title}>
    <div class="with-light-accent-color contents">
        <Header {title} />
    </div>

    <div class="px-4">
        <section class="prose w-readable mx-auto max-w-full">
            <Content />
        </section>
    </div>

    {
        posts.length === 0 ? null : (
            <div class="mt-8 px-4">
                <section class="w-readable related-posts mx-auto max-w-full">
                    <h2 class="mb-4 text-2xl">Related Posts</h2>

                    <PostList {posts} />
                </section>
            </div>
        )
    }
</BaseLayout>

<style define:vars={{ accentColor }}>
    .related-posts {
        --title-color: var(--accentColor);
    }
</style>
