---
import { getCollection } from "astro:content";

import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import Topic from "../../components/Topic.astro";

const posts = await getCollection("posts");
const topics = await getCollection("topics");

const topicPostCount = new Map<string, number>();

for (const post of posts) {
    for (const topic of post.data.topics ?? []) {
        const topicEntry = topics.find((t) => t.id === topic.id);

        if (!topicEntry) {
            throw new Error("Post references topic that does not exist: " + topic.id);
        }

        const currentCount = topicPostCount.get(topicEntry.id) ?? 0;

        topicPostCount.set(topicEntry.id, currentCount + 1);
    }
}

topics.sort((a, b) => {
    return topicPostCount.get(b.id)! - topicPostCount.get(a.id)!;
});

const title = "Topics";
---

<Base {title}>
    <Header {title} />

    <div class="px-2">
        <section class="w-readable mx-auto max-w-full">
            <ul class="flex flex-wrap gap-3">
                {
                    topics.map((topic) => (
                        <li>
                            <Topic {topic}>
                                {topic.data.label} ({topicPostCount.get(topic.id) ?? 0})
                            </Topic>
                        </li>
                    ))
                }
            </ul>
        </section>
    </div>
</Base>
