.DS_Store
node_modules
/build
/.svelte-kit
/package

# `@sveltejs/adapter-vercel` build output
.vercel_build_output

# Yarn (w/ zero-installs)
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.vercel
/test-results/
/playwright-report/
/playwright/.cache/
