@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility with-light-accent-color {
    /* --lightAccentColor: oklch(from var(--accentColor) calc(l + 0.3) c h); */
    --lightAccentColor: oklch(from var(--accentColor) l c h / calc(alpha - 0.8));
}

@theme {
    --width-readable: 80ch;

    --animate-wave: wave 0.4s ease-in-out 2;
    @keyframes wave {
        0%,
        100% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }
    }
}
