@import "tailwindcss";
@plugin "@tailwindcss/typography";

@utility with-light-accent-color {
    --lightAccentColor: oklch(from var(--accentColor) l c h / calc(alpha - 0.8));
}

@theme {
    --width-readable: 80ch;

    --animate-wave: wave 0.4s ease-in-out 2;
    @keyframes wave {
        0%,
        100% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }
    }
}

@property --accentColor {
    syntax: "<color>";
    inherits: true;
    initial-value: oklch(87.2% 0.01 258.338); /* gray-300 */
}

@property --lightAccentColor {
    syntax: "<color>";
    inherits: true;
    initial-value: oklch(92.8% 0.006 264.531); /* gray-200 */
}
