---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/Base.astro";
import BlogListEntry from "../components/BlogListEntry.astro";
import Header from "../components/Header.astro";

const title = "home";
const description = "Homepage for Alex LaFroscia's web site";

const recentPosts = (await getCollection("posts"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 3);
---

<BaseLayout {title} {description}>
    <Header>
        <Fragment slot="title">
            <span class="motion-safe:animate-wave inline-block">👋</span> Hello!
        </Fragment>

        <p class="mb-8">This is a test</p>
    </Header>

    <div class="px-4">
        <section class="w-readable mx-auto mt-10 flex max-w-full flex-col gap-2">
            <h2 class="text-2xl font-bold">Latest Posts</h2>
            <ul class="-mx-2 border-b border-gray-200">
                {
                    recentPosts.map((post) => (
                        <li>
                            <BlogListEntry {post} />
                        </li>
                    ))
                }
            </ul>
            <a href="">See Them All</a>
        </section>
    </div>
</BaseLayout>
