---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/Base.astro";
import BlogListEntry from "../components/BlogListEntry.astro";

import me from "../assets/me.webp";

const title = "home";
const description = "Homepage for Alex LaFroscia's web site";

const recentPosts = (await getCollection("blog"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .slice(0, 3);
---

<BaseLayout {title} {description}>
    <section class="w-readable mx-auto max-w-full p-4">
        <div class="-rotate-1 rounded bg-blue-200 p-5">
            <div class="flex rotate-1 gap-8 rounded bg-white p-8 text-black">
                <Image
                    class="w-1/4"
                    alt="Alex LaFroscia and his Australian Shepherd, Rayla"
                    src={me}
                />
                <div class="flex flex-col gap-2">
                    <h1 class="text-3xl">
                        <span class="motion-safe:animate-wave inline-block">👋</span> Hello!
                    </h1>
                    <p>This is some text</p>
                </div>
            </div>
        </div>
    </section>

    <section class="w-readable mx-auto mt-10 flex max-w-full flex-col gap-2 p-4">
        <h2 class="text-2xl font-bold">Latest Posts</h2>
        <ul class="-mx-2 border-b border-gray-200">
            {
                recentPosts.map((post) => (
                    <li>
                        <BlogListEntry {post} />
                    </li>
                ))
            }
        </ul>
        <a href="">See Them All</a>
    </section>
</BaseLayout>
