---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "./FormattedDate.astro";

type Post = CollectionEntry<"posts">;

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { title, date, description } = post.data;
---

<a
    class="group flex flex-col gap-2 rounded p-2 transition-colors hover:bg-gray-200"
    href={`/${post.id}`}
>
    <p class="text-lg group-hover:text-blue-800">{title}</p>
    {description && <p class="text-sm">{post.data.description}</p>}
    <p>
        <FormattedDate {date} />
    </p>
</a>
