---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "./FormattedDate.astro";

type Post = CollectionEntry<"blog">;

interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<a href={`/${post.id}`}>
    <h4 class="title">{post.data.title}</h4>
    <p class="date">
        <FormattedDate date={post.data.date} />
    </p>
</a>
