---
import type { CollectionEntry } from "astro:content";

import FormattedDate from "./FormattedDate.astro";

type Post = CollectionEntry<"posts">;

interface Props {
    post: Post;
}

const { post } = Astro.props;
const { title, date, description } = post.data;
---

<a class="group flex flex-col gap-2" href={`/${post.id}`}>
    <p class="title text-lg group-hover:text-(--title-color) group-focus:text-(--title-color)">
        {title}
    </p>
    {description && <p class="text-sm">{post.data.description}</p>}
    <p>
        <FormattedDate {date} />
    </p>
</a>

<style>
    @property --title-color {
        syntax: "<color>";
        inherits: true;
        initial-value: oklch(48.8% 0.243 264.376); /* blue-700 */
    }

    a {
        --title-color: var(--accentColor, var(--color-blue-700));
    }
</style>
