---
import { generateSlugs } from "../utils/path";

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const slugs = generateSlugs(pathname);

slugs.unshift({
    label: "home",
    path: "",
});
---

<nav class="mb-4 overflow-x-auto border-b border-gray-100 py-4">
    <ul class="flex">
        {
            slugs.map((slug) => (
                <li class="flex">
                    <a class="whitespace-nowrap" href={`/${slug.path}`}>
                        {slug.label}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    li:not(:last-of-type):after {
        content: "/";
        padding: 0px 0.5rem;
    }
</style>
