---
import { Image } from "astro:assets";

import Breadcrumbs from "./Breadcrumbs.astro";

import { SITE_DESCRIPTION } from "../consts";
import me from "../assets/me.webp";
---

<footer id="footer" class="mt-8 bg-gray-200 p-4">
    <div class="w-readable mx-auto max-w-full">
        <Breadcrumbs />
    </div>

    <div
        class="w-readable divide-y-current mx-auto grid max-w-full grid-cols-2 gap-8 md:grid-cols-4"
    >
        <div class="col-span-2 flex items-start gap-4">
            <Image
                class="aspect-auto w-[120px] rounded-lg"
                src={me}
                alt="Alex LaFroscia and his dog, Rayla"
            />
            <div class="max-w-xs space-y-2">
                <p class="font-bold">Alex LaFroscia</p>
                <p>{SITE_DESCRIPTION}</p>
            </div>
        </div>

        <nav class="flex md:justify-center">
            <ol class="space-y-2">
                <li class="font-bold">Here</li>

                <li><a href="/">Home</a></li>

                <li><a href="/rss.xml">RSS Feed</a></li>

                <li><a href="/posts">All Posts</a></li>

                <li><a href="/topics">All Topics</a></li>
            </ol>
        </nav>

        <div class="flex md:justify-center">
            <ol class="space-y-2">
                <li class="font-bold">Other Places</li>

                <li>
                    <a rel="me" href="https://bsky.app/profile/alexlafroscia.com">Bluesky</a>
                </li>

                <li>
                    <a rel="me" href="https://mastodon.social/@alexlafroscia">Mastodon</a>
                </li>

                <li>
                    <a rel="me" href="https://github.com/alexlafroscia">GitHub</a>
                </li>

                <li>
                    <a href="https://www.alltrails.com/members/alex-lafroscia">AllTrails</a>
                </li>

                <li>
                    <a href="https://www.linkedin.com/in/alexlafroscia/">LinkedIn</a>
                </li>
            </ol>
        </div>
    </div>
</footer>
