---
import BlueSky from "simple-icons-astro/Bluesky";
import GitHub from "simple-icons-astro/Github";
import RSS from "simple-icons-astro/Rss";

import LinkedIn from "../icons/LinkedIn.svg";

import { SITE_TITLE } from "../consts";

interface Props {
    title?: string;
}

const { title = "" } = Astro.props;
---

<header
    class="mb-4 border-b-2 border-[var(--background-gradient-to)] bg-gradient-to-br from-[var(--background-gradient-from)] to-[var(--background-gradient-to)] px-4 pt-4 pb-8"
>
    <nav class="w-readable mx-auto mb-8 flex max-w-full flex-col items-start gap-4">
        <ul class="flex w-full gap-2">
            <li class="flex-grow">
                <a class="font-bold" href="/">{SITE_TITLE}</a>
            </li>

            <li>
                <a
                    href="/rss.xml"
                    class="block transition-transform hover:scale-105 focus-visible:scale-105"
                >
                    <span class="sr-only">RSS Feed</span>
                    <RSS class="h-5 w-5" />
                </a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://bsky.app/profile/alexlafroscia.com"
                    class="block transition-transform hover:scale-105 focus-visible:scale-105"
                >
                    <span class="sr-only">Bluesky Profile for Alex LaFroscia</span>
                    <BlueSky class="h-5 w-5" />
                </a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://github.com/alexlafroscia"
                    class="block transition-transform hover:scale-105 focus-visible:scale-105"
                >
                    <span class="sr-only">GitHub Profile for Alex LaFroscia</span>
                    <GitHub class="h-5 w-5" />
                </a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://www.linkedin.com/in/alexlafroscia/"
                    class="block transition-transform hover:scale-105 focus-visible:scale-105"
                >
                    <span class="sr-only">LinkedIn Profile for Alex LaFroscia</span>
                    <LinkedIn class="h-5 w-5" />
                </a>
            </li>
        </ul>
    </nav>

    <div class="w-readable mx-auto flex max-w-full flex-col items-start gap-4">
        <h1 class="text-3xl">
            <slot name="title">
                {title}
            </slot>
        </h1>

        <slot />
    </div>
</header>

<style>
    header {
        --background-gradient-from: var(--lightAccentColor, var(--color-gray-200));
        --background-gradient-to: var(--accentColor, var(--color-gray-300));
    }
</style>
