---
import { generateSlugs } from '../utils/path';

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const slugs = generateSlugs(pathname)
---

<header>
	<nav>
		<ul>
			<li>
				<a href="/">home</a></h2>
			</li>

			{slugs.map(slug => (
				<li>
					<a href={`/${slug.path}`}>
						{slug.label}
					</a>
				</li>
			))}
		</ul>

	</nav>
</header>

<style>
	ul {
		display: flex;
		list-style: none;
	}

	li:not(:last-of-type):after {
		content: "/";
		padding: 0px .5rem;
	}
</style>
