---
import type { ImageMetadata } from "astro";

import BlueSky from "simple-icons-astro/Bluesky";
import GitHub from "simple-icons-astro/Github";

import LinkedIn from "../icons/LinkedIn.svg";

interface Props {
    title?: string;
}

const { title = "" } = Astro.props;
---

<header class="mb-4 px-4 pt-4 pb-8">
    <nav class="w-readable mx-auto mb-8 flex max-w-full flex-col items-start gap-4">
        <ul class="flex w-full gap-2">
            <li class="flex-grow">
                <a class="font-bold" href="/">Alex LaFroscia</a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://bsky.app/profile/alexlafroscia.com"
                    class="transition-colors hover:text-[#01AAFF] focus-visible:text-[#01AAFF]"
                >
                    <span class="sr-only">Bluesky Profile for Alex LaFroscia</span>
                    <BlueSky class="h-3/4" />
                </a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://github.com/alexlafroscia"
                    class="transition-colors hover:text-[#6cc644] focus-visible:text-[#6cc644]"
                >
                    <span class="sr-only">GitHub Profile for Alex LaFroscia</span>
                    <GitHub class="h-3/4" />
                </a>
            </li>

            <li>
                <a
                    rel="me"
                    href="https://www.linkedin.com/in/alexlafroscia/"
                    class="transition-colors hover:text-[#0A66C2] focus-visible:text-[#0A66C2]"
                >
                    <span class="sr-only">LinkedIn Profile for Alex LaFroscia</span>
                    <LinkedIn class="h-3/4" />
                </a>
            </li>
        </ul>
    </nav>

    <div class="w-readable mx-auto flex max-w-full flex-col items-start gap-4">
        <h1 class="pb-2 text-3xl">
            <slot name="title">
                {title}
            </slot>
        </h1>

        <slot />
    </div>
</header>

<style>
    header {
        background-color: var(--header-background, var(--color-gray-200));
        border-bottom: 4px solid var(--header-border-color, transparent);
        color: var(--header-color);
    }

    /**
     * Add the border below the `h1` if there is content below it
     * 
     * CSS is used here instead of detecting the slot being used, as the renderer of
     * the `Header` component might provide the slot, but ultimately not render anything
     * into it.
     */
    h1:has(+ div:has(p)) {
        border-bottom-width: 2px;
        border-color: var(--header-border-color, var(--color-gray-300));
        border-style: solid;
    }
</style>
