---
import type { CollectionEntry } from "astro:content";

type Topic = CollectionEntry<"topics">;

interface Props {
    topic: Topic;
}

const { topic } = Astro.props;
const { label } = topic.data;
---

<a class="whitespace-nowrap underline" href={`/topics/${encodeURIComponent(topic.id)}`}>
    <slot>
        {label}
    </slot>
</a>
