---
import type { CollectionEntry } from "astro:content";

type Topic = CollectionEntry<"topics">;

interface Props {
    topic: Topic;
}

const { topic } = Astro.props;
const { label, color: { accent: accentColor, contrast: contrastColor } = {} } = topic.data;
---

<a
    class="with-light-accent-color rounded-full px-2 py-1 text-sm"
    href={`/topics/${encodeURIComponent(topic.id)}`}
>
    <slot>
        {label}
    </slot>
</a>

<style define:vars={{ accentColor, contrastColor }}>
    a {
        background-color: var(--lightAccentColor, var(--color-gray-300));
        border: 2px solid var(--accentColor, transparent);
    }
</style>
