@import "modern-normalize/modern-normalize.css";

:root {
  // Parts of Tailwind's color palette
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;

  --blue-700: #1d4ed8;
  --blue-600: #2563eb;
  --blue-300: #93c5fd;

  --indigo-700: #4338ca;
  --indigo-600: #4f46e5;
  --indigo-300: #a5b4fc;
}

body {
  --background-primary: white;
  --background-secondary: gainsboro;
  --text-primary: black;

  font-family: "Inter", sans-serif;
}

body.dark {
  --background-primary: var(--gray-900);
  --background-secondary: var(--gray-800);
  --text-primary: white;
}

a {
  color: var(--blue-700);
  text-decoration: none;

  &:visited {
    color: var(--indigo-700);
  }

  .dark & {
    color: var(--blue-300);

    &:visited {
      color: var(--indigo-300);
    }
  }
}

.bold {
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
