---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./Base.astro";
import BlogListEntry from "../components/BlogListEntry.astro";
import { SITE_TITLE as title, SITE_DESCRIPTION as description } from "../consts";

export type BlogPostIndex = Array<CollectionEntry<"posts">>;

type Props = {
    label: string;
    posts: BlogPostIndex;
};

const { label, posts } = Astro.props;
---

<BaseLayout {title} {description}>
    <section class="w-readable mx-auto max-w-full">
        <h2 class="text-2l">{label}</h2>
        <ul class="divide-y divide-gray-200">
            {
                posts.map((post) => (
                    <li>
                        <BlogListEntry {post} />
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
