---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "./Base.astro";
import BlogListEntry from "../components/BlogListEntry.astro";
import Header from "../components/Header.astro";

import { SITE_TITLE as title, SITE_DESCRIPTION as description } from "../consts";

export type BlogPostIndex = Array<CollectionEntry<"posts">>;

type Props = {
    label: string;
    posts: BlogPostIndex;
};

const { label, posts } = Astro.props;
---

<BaseLayout {title} {description}>
    <Header title={label}>
        <slot name="header" />
    </Header>

    <div class="px-2">
        <section class="w-readable mx-auto max-w-full">
            <ul class="divide-y divide-gray-200">
                {
                    posts.map((post) => (
                        <li>
                            <BlogListEntry {post} />
                        </li>
                    ))
                }
            </ul>
        </section>
    </div>
</BaseLayout>
