---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./Base.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"posts">["data"];

const { title, description = "", date } = Astro.props;
---

<BaseLayout {title} {description}>
    <article class="w-readable mx-auto max-w-full">
        <div class="title">
            <div class="date">
                <FormattedDate date={date} />
            </div>
            <h1>{title}</h1>
            <hr />
        </div>
        <div class="prose max-w-none">
            <slot />
        </div>
    </article>
</BaseLayout>
