---
import type { CollectionEntry } from "astro:content";

import BaseLayout from "./Base.astro";
import Header from "../components/Header.astro";
import PostList from "../components/PostList.astro";

export type BlogPostIndex = Array<CollectionEntry<"posts">>;

interface Props {
    title: string;
    description: string;
    posts: BlogPostIndex;
}

const { title, description, posts } = Astro.props;
---

<BaseLayout {title} {description}>
    <Header {title}>
        <slot name="header" />
    </Header>

    <div class="px-4">
        <section class="w-readable mx-auto max-w-full">
            <PostList {posts} />
        </section>
    </div>
</BaseLayout>
